
body {
    background-color: green;
}

a { color:black } /* Globally */

/* Each state */

a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; color:black; }
a:focus { text-decoration: none; color: black; }
a:hover, a:active { text-decoration: none; color:black }

ul {
    display:inline;
    margin: 10px;
    text-decoration: none;
}

li {
    display: inline;
    margin: 10px;
  }
  

header {
    
    color: #333;
    background: #FFA500;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    position: sticky;
    
}



  #one {
      
      background: white;
      color: blue;
    }
    
    #main{
        background: #9E1212;
        height: 500px;
        
       
    }
    
    
    footer {
        padding: 25px;
        background: #FFA500;
        text-align: center;
        margin-top: 20px;
        
        
    }
   