
body {
    background-color: green;
}


ul {
    display:inline;
    margin: 0 10px;
}

li {
    display: inline;
    margin: 0 10px;
  }
  

header {
    
    color: #333;
    background: #FFA500;
    text-align: center;
    font-size: 12px;
}


  #one {
      
      background: white;
      color: blue;
    }
    
    #main{
        background: #9E1212;
        height: 500px;
        
       
    }
    
    #right {
        background: #394549;
        height: 500px;
        width: calc(100% / 2);

        
    }
    
    footer {
        padding: 25px;
        background: #FFA500;
        text-align: center;
        
        
        
    }
   